<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrgaNice - Sharing thought with <span>"OrgaNice"ation</span></title>
</head>
<body>
    <%- include("partials/leftbar.ejs") %>
    <%- include("partials/header.ejs") %>
    


    <%- include("partials/footer.ejs") %>
</body>
</html>